/* NotFound.css */

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
  }
  
  h1 {
    color: #e74c3c;
    font-size: 4em;
    margin-bottom: 10px;
  }
  
  p {
    color: #777;
    font-size: 1.2em;
  }
  /* Layout.css */

.layout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #3498db;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

a:hover {
  color: #ecf0f1;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #bdc3c7;
}
