body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

label, input {
    width: 100%;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    padding: 8px;
    margin-top: 5px;
    border-radius: 2px;
    outline: none;
    
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

input[type="submit"]:hover {
    opacity: 0.8;
}