.taskForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.input-fieldoftaskForm {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .textarea-fieldtaskForm {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-buttontaskForm {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width:50%;
  }
  
  .submit-buttontaskForm:hover {
    background-color: #0056b3;
  }
  