.paginationBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination .active a {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
}
.ul{
  height: 80vh;
  
}