.profile {
    background-color: #f3f4f6;  
    border: 1px solid #ccc;     
    border-radius: 8px;
    padding: 20px;              
    max-width: 450px;           
    margin: 20px auto;          
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif; 
   
}


.child {
    margin: 10px 0;           
    font-size: 16px;          
    color: #e76f51;    
    margin: 10px;       
    padding: 10px;
    border-radius: 10px;
    
}
.btn{
    background-color: #4f46e5;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-color: none !important;
    outline: none !important;;
}
.btn:hover{
    background-color:#4e46e5d5 ;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.changeheading{
text-align: center;
}